.main-2 {
    background: url(https://wallpaperset.com/w/full/f/b/b/484250.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -1px;
}